{block content}
<div id="login">
    <h1>Příhlásit se</h1>
    <div id="login-formular">
        {control signInForm}
    </div>
    <a href="{link :Login:SignUp:}">Založit účet</a>
</div>
{/block content}