{block content}
<div id="library-edit">
	<div id="library-edit-back">
		<a n:href=":Library:Library: $knihovna->ID">Zpět</a>
	</div>
	<h1>Editace knihovny: {$knihovna->ID}</h1>
	<div id="library-edit-formular">
		{control libraryEditForm }
	</div>
</div>
{/block}