{block content}
<div id="library-add">
	<div id="library-add-back">
		<a n:href=":Library:LibraryDashBoard: ">zpet</a>
	</div>
	<h1>Přidat knihovnu</h1>
	<div id="library-add-formular">
		{control libraryAddForm }
	</div>
</div>
{/block}