{* This is the welcome page, you can delete it *}

{block content}
	<h1 n:block="title">Homepage</h1>
	<a href="{link Vyhledani:show null}">Vyhledavani</a>
	<a href="{link SignIn:show}">Přihlášení</a>
	{foreach $knihy as $kniha}
	<div class="kniha">
		<h2><a href="{link Kniha:show $kniha->ID}">{$kniha->nazev}</a></h2>
		<div class="date">{$kniha->datumVydani|date:'F j, Y'}</div>

		<h2>{$kniha->nazev}</h2>

		<div>{$kniha->popis|truncate:256}</div>
	</div>
	{/foreach}
{/block}