{block content}
	{control vyhledaniForm}
	{if $knihy}
	{foreach $knihy as $kniha}
		<div class="kniha">
			<h2><a href="{link Kniha:show $kniha->ID}">{$kniha->nazev}</a></h2>
		</div>
	{/foreach}
	{/if}
{/block content}