{block content}
<div id="user-admin-create">
	<div id="user-admin-create-back">
		<a n:href=":Admin:UsersAdmin: ">Zpět</a>
	</div>
	<h1>Vytváření uživatele</h1>
	<div id="user-admin-create-formular">
		{control admCreateProfileForm }
	</div>
</div>
{/block}