{block content}
<div id="book-add">
    <h1>Přidat knižní titul</h1>
    <p>Upozornění název knihy po vytvoření nelze měnit</p>
    <div id="book-add-formular">
	    {control bookAddForm}
    </div>
</div>
{/block content}