{block content}

<h1 n:block="title">{$kniha->nazev}</h1>

<div class="popis">{$kniha->popis}</div>

<h2>Podrobnosti</h2>
<div class="Datum vydání">{$kniha->datumVydani|date:'F j, Y'}</div>



{/block}
