{block Navigation}
<nav>
<p><a n:href="Homepage:default">Domovská stránka</a></p>
<p><a n:href="Vyhledani:show">Vyhledávaní</a></p>
<p><a n:href="SignIn:show">Přihlášení</a></p>
<p><a n:href="Homepage:default">← zpět na výpis příspěvků</a></p>
</nav>
{/block Navigation}