{block content}
<div id="lib-books-manual-add">
    <div id="lib-books-manual-add-back">
        <a n:href="LibBooks:  $libName">Zpět</a>
    </div>
    <h1>Přidat titul do knihovny {$libName}</h1>
    <div class="medzera"></div>
    <div id="lib-books-manual-add-formular">
        {control bookAddForm }
    </div>
</div>
{/block}