{block content}
<h2>Objednávky ke zpracování</h2>
<table>
<tr>
    <th>ID</th>
    <th>Stav</th>
    <th>Datum přijmutí</th>
    <th>Podrobnosti</th>
</tr>
    {foreach $orders as $order}
    <tr>
        <td>{$order->ID}</td>
        <td>{$order->stav}</td>
        <td>{$order->datum_podani}</td>
         <td><a n:href="Order: $order->ID">Podrobnosti</a></td>
    </tr>
    {/foreach}
</table>

{/block content}