{block content}
<h2>Objednávky ke zpracování</h2>
<table>
<tr>
    <th>ID</th>
    <th>Stav</th>
    <th>Datum založení</th>
</tr>
    {foreach $orders as $order}
    <tr>
        <td><a n:href="Order: $order->ID">{$order->ID}</a></td>
        <td>{$order->stav}</td>
        <td>{$order->datum_podani}</td>
    </tr>
    {/foreach}
</table>

{/block content}